body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

#content {
  border: 1px solid #e1e1e1;
  padding: .5em;
  width: 35em;
  margin: auto;
  margin-top: 9em;
}

#hsep {
  width: 90%;
  height: 0;
  border-width: 1px;
  border-bottom: 1px solid #e1e1e1;
  margin: auto;
}

#title {
  color: #b32002;
  font: 3em 'Waiting for the Sunrise';
}

#wrapper {
  overflow: auto;
  padding: 1em;
}

#intro {
  width: 17em;
  text-align: left;
  font-family: 'Merriweather', serif;
  float: left;
}

#vsep {
  width: 1px;
  height: 15em;
  border-width: 1px;
  border-left: 1px solid #e1e1e1;
  float: left;
  margin-left: .5em;
  margin-right: .5em;
}

#links {
  width: 7em;
  text-align: right;
  font-size: 2em;
  float: left;
}

#links ul {
  font-family: 'Lobster';
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#links ul li {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  padding-right: .5em;
}

#links ul li a:link {
  text-decoration: none;
  color: black;
}

#links ul li:hover {
  background-color: #4f5c6f;
  color: #E32E09;
}

#links ul li a:hover {
  color: #E32E09;
  text-shadow: #96240C 0 0 3px;
}

#links ul li a:visited {
  color: inherit;
}

#locations {
  font-family: 'Merriweather', serif;
  font-size: .7em;
  text-align: center;
}
